.App {
  text-align: center;
}

.to-do-list{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 60vw;
  min-height: 80vh;
  background: white;
  color: #282c34;
}

.item{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 5px;
  padding: 1%;
}

.item > div{
  border:2px solid #282c34;
}

.square-field{
  background: aqua;
  grid-column-start: 1;
}

.square-field:hover{
  border: 2px solid red;
  cursor: pointer;
}

.text-field p:hover {
  cursor:pointer;
}

.text-field input{
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 3%;
  width: auto;
  border-style: none;
  border-bottom: #282c34 dashed;
}

.text-field input:hover{
  margin-top: 3%;
  border-style: none;
  border-bottom: red dashed;
}

.text-field input:focus{
  outline: none;
  border-bottom: red dashed;
}

.item-done p
{
  text-decoration: line-through;
}

.checked-item{
  background-image: url(images/1632598.png) ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.add-button{
  position: relative;
  top: 30%;
  display: inline-block;
  padding: 1vh 1vw;
  border: 1px solid black;
  border-radius: 25px;
}

div.add-button:hover{
  cursor: pointer;
}

.text-field{
  grid-column: 2/11;
  display: grid;
}

.delete-btn-container{
  display: block;
  grid-column: 10/11;
  padding-top: 15%;
}

.delete-btn{
  display: inline-block;
  background: red;
}

.delete-btn:hover{
  cursor:pointer;
}

.delete-btn img{
  display: inline-block;
  padding: 2px 2px 0 2px;
  width: 30px;
}

.text-field p {
  display: inline-block;
  grid-column: 6/7;
  vertical-align: middle;
  min-width: 10vw;
  border-bottom: #282c34 dashed;
  padding: 0% 2% 1% 2%;  
}





